---
---

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

section {
  height: 100%;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  font-family: 'Arvo', sans-serif;
  margin: 0;
  padding: 0 10%;
}

.container {
  background-color: #334;
  height: 100%;
}

.button {
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.25em;
  text-align: center;

  &:hover {
    background-color: #e6e6e6;
  }

  &:active {
    background-color: #d4d4d4;
  }
}

.main {
  font-size: 60px;
  text-align: center;
}

p.main {
  color: #fff;
}

.intro {
  align-items: center;
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  padding: 10%;
  justify-content: center;
  width: 100%;
}

input {
  margin: 1em 0;
  width: 100%;
}

.box {
  bottom: 0;
  color: #fff;
  height: 20%;
  position: absolute;
  width: 100%;

  .speaker {
    background-color: rgba(80, 80, 210, 0.3);
    border-top-right-radius: 1em;
    height: 25%;
    padding: 0.4em 1em;
    width: 12em;
  }

  .text {
    background-color: rgba(0, 0, 0, 0.3);
    height: 75%;
    padding: 1em;
  }
}
